apiVersion: apps/v1
kind: Deployment
metadata:
  name: test-blue
  labels:
    app: test
    version: blue
spec:
  replicas: 3
  selector:
    matchLabels:
      app: test
      version: blue
  template:
    metadata:
      labels:
        app: test
        version: blue
    spec:
      containers:
        - name: test
          image: REPLACE_BLUE_IMAGE
          ports:
            - containerPort: 80
          resources:
            limits:
              memory: "256Mi"
              cpu: "500m"
            requests:
              memory: "128Mi"
              cpu: "250m"
---
apiVersion: v1
kind: Service
metadata:
  name: test-blue-service
spec:
  type: NodePort
  selector:
    app: cityzen
    version: blue
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30081   # Dedicated port for BLUE
