apiVersion: apps/v1
kind: Deployment
metadata:
  name: test-green
  labels:
    app: test
    version: green
spec:
  replicas: 4
  selector:
    matchLabels:
      app: test
      version: green
  template:
    metadata:
      labels:
        app: test
        version: green
    spec:
      containers:
        - name: test
          image: REPLACE_GREEN_IMAGE
          ports:
            - containerPort: 80
          resources:
            limits:
              memory: "256Mi"
              cpu: "500m"
            requests:
              memory: "128Mi"
              cpu: "250m"
---
apiVersion: v1
kind: Service
metadata:
  name: test-green-service
spec:
  type: NodePort
  selector:
    app: cityzen
    version: green
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30082   # Dedicated port for GREEN
